---
layout: default
---

<div class="row">
<div class="large-8 columns text-left">
<h3 style="margin-bottom:10px;">{{page.title}}</h3>
<p>{{ content }}</p>   
</div>
</div>
<div class="row">
<div class="large-8 columns">
<a href="https://twitter.com/intent/tweet?screen_name=tlaynes" class="twitter-mention-button" data-lang="en" data-size="large" data-text="Comment - timothysmith.me{{page.url}}">Comment on Twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div class="g-plusone"></div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>    
</div>  
</div>